<form #quotationForm="ngForm" novalidate (ngSubmit)="save()">
    <mat-card class="col-md-12">
        <loading></loading>
        <mat-card-content *ngIf="quotation">
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                        <input name="quotation_date" #quotation_date="ngModel" [(ngModel)]="quotation.quotation_date" required matInput [matDatepicker]="quotation_date_picker"
                            placeholder="Fecha de la cotización">
                        <mat-datepicker-toggle matSuffix [for]="quotation_date_picker"></mat-datepicker-toggle>
                        <mat-datepicker #quotation_date_picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%">
                        <input matInput type="text" name="client" #client="ngModel" required [(ngModel)]="quotation.client" (keyup)="filterClient($event)"
                            value="{{client.name}}" placeholder="Cliente" [matAutocomplete]="clientAuto" />
                    </mat-form-field>
                    <mat-autocomplete #clientAuto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option (onSelectionChange)="changeClient($event)" [value]=""> Crear Nuevo Cliente </mat-option>
                        <mat-option (onSelectionChange)="changeClient($event)" *ngFor="let client of filteredClients" [value]="client">
                            {{client.name}} {{client.last_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <input type="hidden" name="selectedCliente" [(ngModel)]="selectedCliente" required />
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                        <input matInput type="text" name="office" #office="ngModel" required [disabled]="offices.length == 1" [(ngModel)]="quotation.office"
                            value="{{office.name}}" placeholder="Sucursal" [matAutocomplete]="officeAuto" />
                    </mat-form-field>
                    <mat-autocomplete #officeAuto="matAutocomplete" [displayWith]="displayOffice">
                        <mat-option *ngFor="let office of offices" [value]="office">
                            {{office.name}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                        <mat-select style="width: 100%" name="taxes" [(ngModel)]="tax" placeholder="Retencioens e impuestos" (selectionChange)="addTax($event)" >
                            <mat-option *ngFor="let tax of taxes" [value]="tax"> {{tax.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-chip-set style="margin-bottom: 10px;width: 100%;display: block;">
                        <mat-chip *ngFor="let tax of quotation.taxes; let i = index">
                            {{tax.name}}
                            <mat-icon class="link" style="font-size: 18px;top: 5px;position: relative;" (click)="deleteTax(i)">close</mat-icon>
                        </mat-chip>
                    </mat-chip-set>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="hidden-xs" *ngFor="let field of field_names">{{field}}</th>
                            <th>Sub Total</th>
                            <th>ITBis</th>
                            <th>Total</th>
                            <th style="width: 160px;" *ngIf="module.edit || module.delete">
                                <button type="button" *ngIf="module.add" mat-button color="success" (click)="edit()">
                                    <mat-icon class="md-16">add_box</mat-icon> Agregar
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of quotation.products; let i = index">
                            <td>{{product.name}}</td>
                            <td class="hidden-xs" *ngFor="let field of field_names">{{product[field] || ''}}</td>
                            <td>{{product.total_value | currency:'':'$':'1.2-2'}}</td>
                            <td>{{product.total_itbis | currency:'':'$':'1.2-2'}}</td>
                            <td>{{(product.total_value + product.total_itbis) | currency:'':'$':'1.2-2'}}</td>
                            <td *ngIf="module.edit || module.delete">
                                <button type="button" class="action" mat-button *ngIf="module.edit" color="accent" (click)="edit(i, product)">
                                    <mat-icon class="md-16">create</mat-icon>
                                </button>
                                <button type="button" class="action" mat-button *ngIf="module.delete" color="warn" (click)="delete(i)">
                                    <mat-icon class="md-16">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="colored">
                        <tr>
                            <td></td>
                            <td class="hidden-xs" *ngFor="let field of field_names"></td>
                            <td>{{ totalValue | currency:'':'$':'1.2-2'}}</td>
                            <td>{{ total_itbis | currency:'':'$':'1.2-2'}}</td>
                            <td>{{ total_general | currency:'':'$':'1.2-2'}}</td>
                            <td *ngIf="module.edit || module.delete"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-12">
                <mat-form-field style="width: 100%">
                    <textarea matInput name="note" rows="4" #note="ngModel" [(ngModel)]="quotation.note" placeholder="Nota"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" [routerLink]="['/admin/quotation/list']" mat-raised-button color="warn">
                <mat-icon class="link">close</mat-icon> Cancelar</button>
            <button *ngIf="module.add || module.edit" type="subbmit" [disabled]="!quotationForm.valid || quotation.products.length < 1"
                mat-raised-button color="primary">
                Guardar
                <mat-icon class="link">check</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>