<mat-card class="col-md-12 no-padding">
    <mat-card-content *ngIf="activity">
        <loading></loading>
        <div class="margin-bottom-xs col-md-12 no-padding">
            <div class="margin-bottom-xs col-md-12 no-print">
                <div class="col-md-6 no-padding">
                    <button mat-button [routerLink]="['/admin/activity/list']">
                        <mat-icon class="md-16">keyboard_return</mat-icon> Regresar</button>
                </div>
                <div class="col-md-6 no-padding text-right">
                    <button *ngIf="module.print" mat-raised-button (click)="printList()">
                        <mat-icon class="md-16">print</mat-icon> Imprimir</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <h4>{{activity.name}}</h4>
        </div>
        <div *ngFor="let field of sortFields(activity.type.fields)" [ngClass]="{ 'col-md-6':  field.type !='group', 'col-md-12': field.type =='group'}" class="margin-top-xs">
            <span *ngIf="field.type != 'group' ">{{field.text}}: </span>
            <label *ngIf="field.type == 'date'">{{field.value | date:'dd/MM/yyyy'}}</label>
            <label *ngIf="field.type != 'date' && field.type != 'group'">{{field.value}}</label>
            <div *ngIf="field.type == 'group' ">
                <label>{{field.text}}:</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngFor="let fc of field.fields">{{fc.text}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let value of field.value">
                            <td *ngFor="let fc of field.fields">{{value[fc._id]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="margin-bottom-xs col-md-12 no-print">
            <div class="col-md-6 no-padding">
                <button mat-button [routerLink]="['/admin/activity/list']">
                    <mat-icon class="md-16">keyboard_return</mat-icon> Regresar</button>
            </div>
            <div class="col-md-6 no-padding text-right">
                <button *ngIf="module.print" mat-raised-button (click)="printList()">
                    <mat-icon class="md-16">print</mat-icon> Imprimir</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>