<!-- About Sec -->
<section class="about-sec padding-top-60 padding-bottom-60" *ngIf="setting">
    <div class="container">

        <!-- About Adds -->
        <div class="about-adds" style="    background-repeat: no-repeat;background-size: 100% 100%;" [ngStyle]="{'background-image': 'url( public/files/' + setting._id + '/full-logo.png )' }">
            <div class="position-center-center" >
                <h2>{{setting.name}}
                    <small> {{setting.description}}</small>
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Shipping Info -->
<section class="shipping-info" *ngIf="setting && setting.free_shipping_order_value">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-left">
                    <i class="flaticon-delivery-truck-1"></i>
                </div>
                <div class="media-body">
                    <h5>Envio Gratis</h5>
                    <span>En orden mayor a {{setting.free_shipping_order_value | currency:'':'$':'1.2-2'}}</span>
                   
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-left">
                    <i class="flaticon-arrows"></i>
                </div>
                <div class="media-body">
                    <h5>Devoluciones</h5>
                    <span *ngIf="setting.returned_arrare_days">{{setting.returned_arrare_days}} Dias</span>
                    <span *ngIf="!setting.returned_arrare_days">No aceptamos devoluciones</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-left">
                    <i class="flaticon-operator"></i>
                </div>
                <div class="media-body">
                    <h5>Información 24/7</h5>
                    <span>Linea: {{setting.phone}}</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-left">
                    <i class="flaticon-business"></i>
                </div>
                <div class="media-body">
                    <h5>Pagos</h5>
                    <span *ngFor="let pm of payment_methods; let i = index">{{pm}}<span *ngIf="i < payment_methods.length">, </span></span>
                    <span *ngIf="payment_methods.length == 0">Contactenos</span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Team -->
<section class="padding-top-60 padding-bottom-60">
    <div class="container">

        <!-- heading -->
        <div class="heading">
            <h2>Sucursales</h2>
            <hr>
        </div>
        <div class="team">
            <div class="row">
                <div class="col-md-3" *ngFor="let office of offices">
                    <h3>{{office.name}}</h3>
                    <span>{{office.description}}</span>
                </div>
            </div>
        </div>
    </div>
</section>