<form #acknowledgmentForm="ngForm" novalidate (ngSubmit)="save()">
    <mat-card class="col-md-12" *ngIf="module">
        <loading></loading>
        <mat-card-content *ngIf="acknowledgment">
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                        <input name="acknowledgment_date" #acknowledgment_date="ngModel" [(ngModel)]="acknowledgment.date" required matInput [matDatepicker]="acknowledgment_date_picker"
                            placeholder="Fecha del acuse">
                        <mat-datepicker-toggle matSuffix [for]="acknowledgment_date_picker"></mat-datepicker-toggle>
                        <mat-datepicker #acknowledgment_date_picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%">
                        <input matInput type="text" name="client" #client="ngModel" required [(ngModel)]="acknowledgment.client" (keyup)="filterClient($event)"
                            value="{{client.name}}" placeholder="Cliente" [matAutocomplete]="clientAuto" />
                    </mat-form-field>
                    <mat-autocomplete #clientAuto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option (onSelectionChange)="changeClient($event)" [value]=""> Crear Nuevo Cliente </mat-option>
                        <mat-option (onSelectionChange)="changeClient($event)" *ngFor="let client of filteredClients" [value]="client">
                            {{client.name}} {{client.last_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <input type="hidden" name="selectedCliente" [(ngModel)]="selectedCliente" required />
                </div>
            </div>
            <div class="col-md-12 no-padding" style="margin-bottom: 10px;">
                <div class="col-md-6">
                    <mat-form-field style="width: 100%">
                        <input matInput type="text" name="office" #office="ngModel" required [disabled]="offices.length == 1" [(ngModel)]="acknowledgment.office"
                            value="{{office.name}}" placeholder="Sucursal" [matAutocomplete]="officeAuto" />
                    </mat-form-field>
                    <mat-autocomplete #officeAuto="matAutocomplete" [displayWith]="displayOffice">
                        <mat-option *ngFor="let office of offices" [value]="office">
                            {{office.name}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6">
                    <mat-form-field *ngIf="employees.length > 0" style="width: 100%;">
                        <input matInput type="text" name="employee" [(ngModel)]="employee" placeholder="Vendedores" [matAutocomplete]="employeeAuto"
                            (keyup)="filterEmployee($event)" />
                    </mat-form-field>
                    <mat-autocomplete #employeeAuto="matAutocomplete" [displayWith]="displayEmployee">
                        <mat-option (onSelectionChange)="addEmployee($event)" *ngFor="let emplo of filterEmployees" [value]="emplo">
                            {{emplo.name}} {{emplo.last_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-chip-set>
                        <mat-chip *ngFor="let emp of acknowledgment.employees">{{emp.name}} {{emp.last_name}}
                            <mat-icon class="link" style="font-size: 18px;top: 5px;position: relative;" (click)="removeEmployee(emp)">close</mat-icon>
                        </mat-chip>
                    </mat-chip-set>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <form #pForm="ngForm" novalidate (ngSubmit)="insert()">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="hidden-xs" *ngFor="let field of field_names">{{field}}</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Sub Total</th>
                                <th>ITBis</th>
                                <th>Total</th>
                                <th *ngIf="module.edit || module.delete">
                                    <button [disabled]="!acknowledgment.office" type="button" *ngIf="module && module.add" mat-raised-button color="success" (click)="edit()">
                                        <mat-icon class="md-16">add_box</mat-icon> Producto
                                    </button>
                                </th>
                            </tr>
                            <tr *ngIf="acknowledgment.office">
                                <td>
                                    <mat-form-field style="width: 100%">
                                        <input matInput type="text" name="product_field" #product_field="ngModel" required [(ngModel)]="product" value="{{product.name}}"
                                            (keyup)="filterProduct($event)" placeholder="Seleccione un producto" [matAutocomplete]="productAuto"
                                        />
                                    </mat-form-field>
                                    <mat-autocomplete #productAuto="matAutocomplete" [displayWith]="displayProductFn">
                                        <mat-option (onSelectionChange)="changeProduct($event)" *ngFor="let p of filteredProducts" [value]="p">
                                            {{p.code? p.code + ' - ': ''}}{{p.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </td>
                                <td>
                                    <mat-form-field style="width: 100%" *ngIf="product">
                                        <input matInput name="quantity" min="1" required type="number" #quantity="ngModel" (change)="changeQuantity()" [(ngModel)]="product.quantity"
                                            placeholder="Cantidad" />
                                    </mat-form-field>
                                </td>
                                <td colspan="2">
                                    <mat-form-field style="width: 100%" *ngIf="product">
                                        <input matInput name="value" type="number" min="1" required #value="ngModel" [(ngModel)]="product.value" placeholder="Precio"
                                        />
                                    </mat-form-field>
                                </td>
                                <td colspan="2">
                                    <mat-form-field style="width: 100%" *ngIf="product || product.category">
                                        <input matInput name="itbis" required step="any" type="number" #itbis="ngModel" [(ngModel)]="product.category.itbis" placeholder="ITBis"
                                        />
                                    </mat-form-field>
                                </td>
                                <td class="text-right">
                                    <button [disabled]="!pForm.valid" class="action" mat-button type="submit" color="primary" style="min-width: 50px;" (click)="insert()">
                                        <mat-icon class="md-16">check</mat-icon>
                                    </button>
                                    <button type="reset" class="action" mat-button color="accent" style="min-width: 50px;">
                                        <mat-icon class="md-16">close</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of acknowledgment.products; let i = index">
                                <td>{{product.name}}</td>
                                <td class="hidden-xs" *ngFor="let field of field_names">{{product[field] || ''}}</td>
                                <td>{{product.value | currency:'':'$':'1.2-2'}}</td>
                                <td>{{product.quantity | number}}</td>
                                <td>{{product.total_value | currency:'':'$':'1.2-2'}}</td>
                                <td>{{product.total_itbis | currency:'':'$':'1.2-2'}}</td>
                                <td>{{(product.total_value + product.total_itbis) | currency:'':'$':'1.2-2'}}</td>
                                <td class="text-right" *ngIf="module.edit || module.delete">
                                    <button type="button" class="action" mat-button *ngIf="module.edit" color="accent" (click)="edit(i, product)">
                                        <mat-icon class="md-16">create</mat-icon>
                                    </button>
                                    <button type="button" class="action" mat-button *ngIf="module.delete" color="warn" (click)="delete(i)">
                                        <mat-icon class="md-16">delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="colored">
                            <tr>
                                <td></td>
                                <td class="hidden-xs" *ngFor="let field of field_names"></td>
                                <td></td>
                                <td>{{ total_quantity | number }}</td>
                                <td>{{ totalValue | currency:'':'$':'1.2-2'}}</td>
                                <td>{{ total_itbis | currency:'':'$':'1.2-2'}}</td>
                                <td>{{ total_general | currency:'':'$':'1.2-2'}}</td>
                                <td *ngIf="module.edit || module.delete"></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            <div class="col-md-12">
                <mat-form-field style="width: 100%">
                    <textarea matInput name="note" rows="4" #note="ngModel" [(ngModel)]="acknowledgment.note" placeholder="Nota"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" [routerLink]="['/admin/acknowledgment/list']" mat-raised-button color="warn">
                <mat-icon class="link">close</mat-icon> Cancelar</button>
            <button *ngIf="module.add || module.edit" type="subbmit" [disabled]="!acknowledgmentForm.valid || acknowledgment.products.length < 1"
                mat-raised-button color="primary">
                Guardar
                <mat-icon class="link">check</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>